<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">Online Library</a>
    <div class="navbar-links">
      <a *ngIf="isAdmin" (click)="AddGenre()">Add genre</a>
      <a *ngIf="isAdmin" (click)="AddAuthor()">Add author</a>
      <a *ngIf="isAdmin" (click)="AddBook()">Add book</a>

      <a routerLink="/">Home</a>
      <a *ngIf="isAuthenticated" routerLink="/profile">{{ userData?.login }}</a>
      <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      <button *ngIf="!isAuthenticated" routerLink="/login">Login</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
