@if(book){
  <div class="product-wrap">
    <div class="product-image">
      <a (click)="goToDetails(book.id)">
        <img
          *ngIf="book.image; else defaultImage"
          [src]="book.image | byteArrayToBase64"
          [alt]="book.title"
        >
        <ng-template #defaultImage>
          <img src="https://amiel.club/uploads/posts/2022-03/1647665180_1-amiel-club-p-kartinki-dlya-oblozhki-knigi-1.jpg">
        </ng-template>
        <div class="shadow"></div>
      </a>
      <a class="detail-link" (click)="goToDetails(book.id)" title="Быстрый просмотр"></a>
    </div>
    <div class="product-list">
      <h3>{{ book.title }}</h3>
      <div class="information">{{ isAvailable ? "Available" : "Not available" }}</div>
    </div>
  </div>
}
